.navbar {
	padding: 0.5rem 1rem !important;
	background: #72928d !important;
}

.btn,
.btn:hover {
	padding: 0 1rem;
	border: 2px #fff solid;
}

.btn:hover {
	border: 2px #99ccff solid;
}

.nav-link:hover {
	color: #99ccff;
}
